/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
}

/* Navigation Bar */
header nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 20px;
    background: rgba(166, 157, 157, 0.305);
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #575555;
    text-decoration: none;
    font-weight: bold;
}

/* Hero Section */
.hero-section {
    height: calc(100vh - 60px);
    background: url('cloud\ bg.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search-container {
    background: rgba(243, 229, 229, 0.591);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 50%;
}

h1 {
    font-size: 36px;
    color: #333333;
    margin-bottom: 10px;
}

p {
    color: #555;
    margin-bottom: 20px;
}

/* Search Bar Styles */
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#search-input {
    width: 80%;
    padding: 15px;
    border-radius: 50px;
    border: 2px solid #ddd;
    outline: none;
    font-size: 16px;
    transition: all 0.3s ease;
}

#search-input:focus {
    border-color: #cb6ec2;
}

#search-btn {
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    background-color: #e09bc4;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

#search-btn:hover {
    background-color: #cb6ec2;
}

/* Delete Button Styles */
.delete-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff4d4d; /* Red background */
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-left: 100px; /* Space between query text and button */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition */
}

.delete-btn:hover {
    background-color: #e63939; /* Darker red on hover */
    transform: scale(1.05); /* Slightly enlarge the button */
}

.delete-btn:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 0 3px rgba(255, 77, 77, 0.5); /* Add custom focus outline */
}


/* Search History Styles */
#search-history {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

#search-history li {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
    border-radius: 10px;
}

#clear-history-btn {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #9a3ce7;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

#clear-history-btn:hover {
    background-color: #74319e;
}
